input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

:root {
  --background: #18122B;
  --border: #393053;
  --semi: #443C68;
  --text: #635985
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  background-color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  margin-top: 15px;
  color: var(--text);
  font-size: 25px;
}

.container_form {
  width: 90%;
  height: auto;
  text-align: center;
}

.container_form form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_form input[type=number] {
  width: 65%;
  border-radius: 17px;
  color: white;
  padding: 10px;
  border: white 1px solid;
  background-color: transparent;
  outline: none;
}

.container_form button {
  color: white;
  width: 25%;
  border-radius: 17px;
  background-color: var(--semi);
  padding: 10px;
  border: white 1px solid;
  outline: none;
  transition: all ease-in .3s;
}

.container_form button:hover {
  background-color: var(--border); 
  cursor: pointer;
}

.container p {
  width: 100%;
  text-align: center;
  position:fixed;
  bottom: 15px;
  color: rgb(24, 227, 17);
}


